<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>云购商城YUNGO</title>
	<link rel="shortcut icon" href="../../images/code.jpg" type="image/x-icon">
	<link rel="stylesheet" href="../../css/bootstrap.css">

	<link rel="stylesheet" href="./orderConfirm.css">
	<link rel="stylesheet" href="../../utils/fonts/iconfont.css">
	<script src="../../utils/bootstrap.bundle.js"></script>
	<!--引入Javascript API GL，参数说明参见下文-->
	<!-- <script src="https://map.qq.com/api/gljs?v=1.exp&key=TZ6BZ-YHQWI-MODG7-UO3RO-DO4DJ-TUBRA"></script> -->
</head>

<body>
	<!-- 最上面导航栏 -->
	<div class="occupied tonglan">
		<div class="w fixed_menu">
			<!-- 导航栏左边 -->
			<div class="NavigationBar_left">
				<ul>
					<li><a href="../index/index.html">首页</a><span>丨</span></li>
					<li><a>YUNGO官网</a><span>丨</span></li>
					<li><a>V码(优购码)</a><span>丨</span></li>
					<li><a>企业购</a><span>丨</span></li>
					<li><a>Select Region</a><span>丨</span></li>
					<li class="jingcai"><a>更多精彩</a><i class="iconfont icon-arrow-down"></i>
						<!-- 更多精彩的二级菜单 -->
						<div class="dropdown-more">
							<ul>
								<li><a target="_blank">HarmonyOS</a></li>
								<li><a target="_blank">应用市场</a></li>
								<li><a target="_blank">YUNGO终端云空间</a></li>
								<li><a target="_blank">开发者联盟</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- 导航栏右边 -->
			<div class="NavigationBar_right">
				<div class="NavigationBar_right_main">
					<ul>
						<li><img alt="" id="user_img" style="height: 50px;width: 50px; border-radius: 50%;">
						</li>
						<li><a class="userIP">请登录</a></li>
						<li><a>注册</a><span>丨</span></li>
						<li><a>我的订单</a><span>丨</span></li>
						<li class="jingcai"><a>客服</a><i class="iconfont icon-arrow-down"></i>
							<div class="dropdown-more">
								<ul>
									<li><a target="_blank">联系客服</a></li>
									<li><a target="_blank">服务中心</a></li>
								</ul>
							</div>
						</li><span>丨</span>
						<li class="jingcai"><a>网站导航</a><i class="iconfont icon-arrow-down"></i>
							<div class="dropdown-more">
								<ul>
									<li><a>YUNGO专区</a></li>
									<li><a>鸿蒙智联</a></li>
									<li><a>莫塞尔</a></li>
									<li><a>YUNGO智选</a></li>
									<li><a>HarmonyOS</a></li>
									<li><a>特惠企采</a></li>
									<li><a>教育购</a></li>
								</ul>
							</div>
						</li><span>丨</span>
						<li class="jingcai"><a>手机版</a><i class="iconfont icon-arrow-down"></i>
							<div class="dropdown-more">
								<ul>
									<li><a target="_blank">ios</a></li>
								</ul>
							</div>
						</li>
						<!-- 购物车 -->
					</ul>
				</div>
				<div class="gouwuche">
					<i class="iconfont icon-gouwuche2"></i><span class="gouwuche_count">购物车(<b>0</b>)</span>
					<div class="gouwuche_more">
						<div>您的购物车是空的 赶紧选购吧~</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 上面菜单栏 -->
	<div class="menu_top tonglan">
		<div class="w">
			<!-- 左边图片 -->
			<div class="logo">
				<a><img src="../../images/code.jpg"></a>
			</div>
			<!-- 中间菜单 -->
			<div class="main_menu">
				<ul>
					<li><a>确认订单</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 收货地址 -->
	<div class="w">
		<div class="address">
			<div class="title1">收货地址</div>
			<button class="btn-found">+新增收货地址</button>
			<div class="container">
				<form action="" name="dialog">
					<label for="name">姓名:</label><br>
					<input id="name" class="name" name="name" type="text"><br>
					<label for="phone">手机号码:</label><br>
					<input id="phone" class="phone" name="phone" type="text" pattern="^1\d{10}$"><br>
					<label for="address">地址:</label>
					<div class="input-group mb-3" style="width: 500px;height: 40px;">
						<input disabled type="text" class="form-control" placeholder="点击按钮选择你的收获地址" height="40px"
							id="address">
						<button style="margin-top: 5px; height: 40px;" class="btn btn-outline-secondary" type="button"
							id="button-address">选择地址</button>
					</div>
					<label for="">详细地址:</label>
					<input type="text" style="width: 210px;" id="address_des"><br>
					<label for="name">是否默认地址:</label>
					是<input type="radio" name="value_address" id="value_address">
					否<input type="radio" name="value_address" id="" checked><br>
					<button class="btn-save" type="button">保存</button>
					<button class="btn-cancel" type="button">取消</button>

				</form>
			</div>
		</div>
		<div class="information">
			<ul class="list"></ul>
		</div>
		<div>

			<!-- 主订单 -->
			<div class="w">
				<div class="orderConfirm">
					<!-- 左部 -->
					<div class="orderConfirm-left">
						<!-- 购物车动态数据 -->
						<div class="orderConfirmBox">
						</div>
						<div class="orderConfirm-left3">
							<div>发票信息</div>
							<div>
								<p>注：如果商品由第三方卖家销售，发票内容由其卖家决定，发票由卖家开具并寄出</p>
								<p>电子普通发票&nbsp;&nbsp;&nbsp;个人</p>
							</div>
						</div>
					</div>
					<!-- 右部 -->
					<div class="orderConfirm-right">
						<div class="orderConfirm-right-container">
							<div class="orderConfirm-right1">
								<p><span>商品由</span>&nbsp;<span class="red">YUNGO商城</span>&nbsp;<span>选择合作快递</span></p>
								<p><img src="../../images/选中.png" alt=""><span>标准配送</span></p>
							</div>
							<div class="orderConfirm-right2">
								<span>
									<h5>商品总金额：</h5><span id="sumPrice">￥4897.00</span>
								</span>

								<span>
									<h5>运费：</h5><span id="transportPrice">￥0.00</span>
								</span>

								<span>
									<h5>优惠金额：</h5><span id="dePrice">-￥0.00</span>
								</span>

								<span>
									<h5>积分：</h5><span id="codePrice">-￥0.00</span>
								</span>

								<span>
									<h5>结算金额：</h5><span class="red" id="endPrice">￥0</span>
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- 提交订单按钮部分 -->
				<div class="confirm">
					<div class="confirm-container">
						<p><span>应付金额：</span><span class="red" id="needPrice">￥0</span></p>
						<div class="confirm-address"><span>配送至：</span><span>山东省 聊城市 东昌府区凤凰街道 19963556440 张三</span></div>
						<a href="../pay/pay.html"><button>提交订单</button></a>
					</div>
				</div>

			</div>
			<!-- 底部-start -->
			<div class="service-container">
				<div class="service">
					<div class="service-l fl">
						<dl class="s1">
							<dt>
								<p class="title">购物指南</p>
							</dt>
							<dd>
								<ol>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-4359.html"
											rel="nofollow">免息分期</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-7923.html"
											rel="nofollow">以旧换新</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-13022.html"
											rel="nofollow">众测活动</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-9295.html"
											rel="nofollow">企业购</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-13020.html"
											rel="nofollow">O2O采购</a>
									</li>
								</ol>
							</dd>
						</dl>
						<dl class="s2">
							<dt>
								<p class="title">
									售后服务
								</p>
							</dt>
							<dd>
								<ol>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-16708.html"
											rel="nofollow">门店维修</a>
									</li>
									<li>
										<a target="_blank"
											href="https://consumer.huawei.com/cn/support/warranty-policy/"
											rel="nofollow">保修政策</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-16682.html"
											rel="nofollow">防伪查询</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-834.html"
											rel="nofollow">退换货政策</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-16698.html"
											rel="nofollow">手机寄修服务</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/help/faq-16706.html"
											rel="nofollow">维修备件价格查询</a>
									</li>
								</ol>
							</dd>
						</dl>
						<dl class="s3">
							<dt>
								<p class="title">
									维修与技术支持
								</p>
							</dt>
							<dd>
								<ol>
									<li>
										<a target="_blank"
											href="https://consumer.huawei.com/cn/support/service-center/index.htm"
											rel="nofollow">服务店</a>
									</li>
									<li>
										<a target="_blank"
											href="https://consumer.huawei.com/cn/support/reservation/index.htm"
											rel="nofollow">预约维修</a>
									</li>
									<li>
										<a target="_blank"
											href="https://consumer.huawei.com/cn/support/express-repair/index.htm"
											rel="nofollow">手机寄修</a>
									</li>
									<li>
										<a target="_blank"
											href="https://consumer.huawei.com/cn/support/sparepart-price/index.htm"
											rel="nofollow">备件价格查询</a>
									</li>
									<li>
										<a target="_blank"
											href="https://consumer.huawei.com/cn/support/door-to-door-service/"
											rel="nofollow">上门服务</a>
									</li>
								</ol>
							</dd>
						</dl>
						<dl class="s4">
							<dt>
								<p class="title">
									特色服务
								</p>
							</dt>
							<dd>
								<ol>
									<li>
										<a target="_blank" href="https://consumer.huawei.com/cn/support/discriminate/"
											rel="nofollow">防伪查询</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/member/buyServicesIndex"
											rel="nofollow">补购保障</a>
									</li>
									<li>
										<a target="_blank" href="https://www.vmall.com/recycler" rel="nofollow">以旧换新</a>
									</li>
									<li>
										<a target="_blank"
											href="https://www.vmall.com/product/10086344499475.html#10086230774569"
											rel="nofollow">礼品包装</a>
									</li>
								</ol>
							</dd>
						</dl>
						<dl class="s5">
							<dt>
								<p class="title">
									关于我们
								</p>
							</dt>
							<dd>
								<ol>
									<li>
										<a target="_blank"
											href="https://www.huawei.com/cn/about-huawei/corporate-information"
											rel="nofollow">公司介绍</a>
									</li>
									<li>
										<a target="_blank" href="https://consumer.huawei.com/cn/support/where-to-buy"
											rel="nofollow">YUNGO零售店</a>
									</li>
									<li>
										<a target="_blank"
											href="https://www.vmall.com/portal/activity/index.html?pn=zhaoshang" color:
											#A8A rel="nofollow">商家中心</a>
									</li>
									<li>
										<a href="javascript:;" class="js-feedback" title="意见反馈">意见反馈</a>
									</li>
								</ol>
							</dd>
						</dl>
						<dl class="s6" id="serverlink">
							<dt class="relative">
								<p class="title">友情链接</p>
								<p class="button"><span class="btn btn-prev disabled">
										< </span><span class="btn btn-next"> > </span></p>
							</dt>
							<dd class="">
								<div class="service-list clearfix">
									<ol>
										<li>
											<a href="https://www.huawei.com/cn" target="_blank"
												rel="noopener">YUNGO集团</a>
										</li>
										<li>
											<a href="https://consumer.huawei.com/cn" target="_blank"
												rel="noopener">YUNGO消费者业务</a>
										</li>
										<li>
											<a href="https://www.huaweicloud.com" target="_blank"
												rel="noopener">YUNGO云</a>
										</li>
										<li>
											<a href="https://appgallery.huawei.com/" target="_blank"
												rel="noopener">YUNGO应用市场</a>
										</li>
										<li>
											<a href="https://xinsheng.huawei.com/cn/index" target="_blank"
												rel="noopener">YUNGO心声社区</a>
										</li>
									</ol>
									<ol>
										<li>
											<a href="https://e.huawei.com/cn" target="_blank" rel="noopener">YUNGO企业业务
											</a>
										</li>
									</ol>
								</div>
							</dd>
						</dl>
					</div>
					<div class="service-r fl">
						<dl class="s7">
							<dt>
								<p class="title" id="vmallcontact">950805</p>
							</dt>
							<dd>
								<ol>
									<li><a>7x24小时客服热线（仅收市话费）</a></li>
								</ol>
							</dd>
							<dd>
								<a id="tools-nav-service-robotim-button" rel="nofollow"
									class="service-btn btn-line-primary" onclick="pushlowService()" href="javascript:;">
									<i class="iconfont icon-kefu"></i> 在线客服
								</a>
							</dd>
						</dl>
						<div class="service-code clearfix">
							<h2>关注VMALL：</h2>
							<ul class="clearfix">
								<li class="iconfont icon-wechat">
									<a href="">&#xe62a;</a>
									<div class="service-code-img">
										<img
											src="https://res.vmallres.com/pimages//pages/cdnImages/66357398344619375366.jpg" />
									</div>
								</li>
								<li class="iconfont icon-jinritoutiao">
									<a target="_blank"
										href="https://www.toutiao.com/c/user/52373534151/#mid=52586950033"
										rel="nofollow">&#xe628;</a>
								</li>
								<li class="iconfont icon-weibo">
									<a target="_blank" href="https://weibo.com/shophuawei" rel="nofollow">&#xe626;</a>
								</li>
								<li class="iconfont icon-baidu">
									<a target="_blank" href="https://author.baidu.com/home/1587993495688621"
										rel="nofollow">&#xe624;</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- 服务-end -->

			<!--口号-start -->
			<div class="footer-container">
				<div class="footer">
					<div class="footer-warrant-area clearfix">
						<p class="footer-warrant-logo fl"><a href="https://www.vmall.com"><img
									src="../../images/code.jpg" title="YUNGO商城" /></a></p>
						<div class="fl">
							<ul class="footer-warrant-link">
								<li><a href="https://www.huawei.com/cn/">YUNGO集团</a></li>
								<li><a href="https://consumer.huawei.com/cn/">YUNGOCBG官网</a></li>
								<li><a href="https://appgallery.huawei.com/">YUNGO应用市场</a></li>
								<li><a href="https://www.harmonyos.com/">HarmonyOS</a></li>
								<li><a href="https://cloud.huawei.com">YUNGO终端云空间</a></li>
								<li><a href="https://developer.huawei.com/cn/">开发者联盟</a></li>
								<li><a href="https://m.vmall.com/app/open?type=1">YUNGO商城手机版</a></li>
							</ul><a
								href="https://privacy.consumer.huawei.com/legal/vmall/privacy-statement.htm?code=CN&branchid=0&language=zh-cn&contenttag=default"
								rel="nofollow" target="_blank" title="隐私声明">隐私声明</a> <a
								href="https://privacy.consumer.huawei.com/legal/vmall/terms.htm?code=CN&branchid=0&language=zh-cn&contenttag=default"
								rel="nofollow" target="_blank" title="服务协议">服务协议</a> <a
								href="https://www.vmall.com/portal/activity/index.html?pn=cookies" rel="nofollow"
								target="_blank" title="COOKIES">COOKIES</a> Copyright © 2012-<span
								id="j-copyrightyear">2020</span> YUNGO终端有限公司 版权所有 <a
								href="https://www.vmall.com/notice-17426" target="_blank">| 经营资质 |</a><a
								href="https://beian.miit.gov.cn/" target="_blank">
								粤ICP备19015064号</a><em>|</em><a
								href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44190002003939"
								target="_blank">粤公网安备 44190002003939号</a><br /><a target="_blank"
								href="https://res.vmallres.com/pimages//pages/cdnImages/40227551365615572204.png">增值电信业务经营许可证：粤B2-20190762<em>|</em></a><a
								target="_blank"
								href="https://wxdxsba.miit.gov.cn/serviceAction.action">备案主体编号：44201919072182</a><em>|</em><a
								target="_blank"
								href="https://res.vmallres.com/pimages//pages/cdnImages/91133651365615633119.pdf">粤新出网备（2021）2号<em>|</em></a><a
								href="https://res.vmallres.com//uomcdn/CN/cms/202211/230DB6530B42A545972D16D45640D1D6.png"
								target="_blank"
								_href="https://res.vmallres.com//uomcdn/CN/cms/202211/230DB6530B42A545972D16D45640D1D6.png"
								textvalue="（粤）网械平台备字[2022]第00005号">（粤）网械平台备字[2022]第00005号<br /></a><a target="_blank"
								href="https://res.vmallres.com/pimages//pages/cdnImages/17308188080618180371.jpg">互联网药品信息服务资格证（粤）-非经营性-2020-0102</a>
							&nbsp;| <a target="_blank"
								href="https://res.vmallres.com/pimages//pages/cdnImages/42579551365615597524.png">广东省网络食品交易第三方平台备案：GDWS10168</a>
						</div>
					</div>
				</div>
			</div>

			<div id="myModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="width:800px; height: 700px;">
						<div class="modal-body" id="myModalText">
							<!-- 腾讯地图 -->
							<!-- 定义地图显示容器 -->
							<iframe id="mapPage" width="100%" height="100%" frameborder=0
								src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=TZ6BZ-YHQWI-MODG7-UO3RO-DO4DJ-TUBRA&referer=myapp">
							</iframe>
						</div>
					</div>
				</div>
			</div>



</body>
<!-- 底部-end -->
<script src="./orderConfirm.js" type="module"></script>

</html>